

  <table width=15% border= 3px padding= 4px>
    <thead>
      <tr>
        <th border= 3px padding= "2px 4px"><h2>Category<h2></th>
      </tr>
    </thead>
  <tbody>
      <tr>
        <td border= 3px padding= "2px 4px">
          {{#each category}}
          <h3><a href="/laureat/category/{{this}}">{{this}}</a></h3>
          {{/each}}
      </td>

      </tr>
  </tbody>
  </table>




<!--<h3> Birthday: {{birthday}} </h3>
<h3><a href="{{website}} "> Website </a></h3>
<h3> {{description}} </h3>


<h1> {{categor}} </h1>

<h3>Name:</h3>
  {{#each peopl}}
  <h3>{{this}}</h3>
  {{/each}}-->
