<div>
<h1>Quick Facts</h1>
</div>
<h2>Physics Laureates: {{count}}</h2>
<h2>Awarded Women: {{countw}}</h2>
<h1>--------------------------</h1>
<h2>Medecine Laureates: {{countm}}</h2>
<h2>Awarded Women: {{countwm}}</h2>
<h1>--------------------------</h1>
<h2>Chemistry Laureates: {{countc}}</h2>
<h2>Awarded Women: {{countwc}}</h2>
<h1>--------------------------</h1>
<h2>Literature Laureates: {{countl}}</h2>
<h2>Awarded Women: {{countwl}}</h2>
