<h2> Firstname: {{name}} </h2>
<h2> Surname: {{surname}} </h2>
<h2> Gender: {{gender}} </h2>
<h2> Nobel Prize in {{category}} </h2>
<h3>{{name}} won the nobel prize for {{category}} in {{prize_year}}.</h3>
<h3>{{name}} was born in {{borncountry}} in {{year_of_birth}}. {{name}} went to {{school}}.</h3>
<h2> Motivation: {{motivation}} </h2>
